body{
  font-family: Arial, Helvetica, sans-serif;
  
}
.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 12px; 
}

.nav-item:hover{
  font-weight: bold;
}
.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px; 
  background-color: rgb(246, 122, 7); 
  transition: width 0.3s ease-in-out; 
}
@media screen and (max-width:768px){
#cartDropdown{
   margin-top: 20px;
}
}

.navbar-nav .nav-link:hover::after {
  width: 100%; 
}
@media screen and (max-width:768px){
  .nav-item{
    padding-bottom: 20px;
  }
  .navbar-nav .nav-link {
    position: relative;
    padding-bottom: 14px; 
    display: inline;
  }
  .navbar-nav .nav-link:hover::after {
    width: 100%; 
  }
}
#clearCart{
  width: 100%;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  background-color: rgb(198, 87, 27);
}
.addtocartbtn{
  width: 210px;
  font-weight: 600;
  background-color: rgb(249, 94, 10);

}
.addtocartbtn:hover{
  background-color: rgb(234, 133, 79);
}
.navbar-brand{
  font-weight: bold;
}
.product-img {
  width: 270px; 
  height: 300px; 
}

.thumbnail-img {
  width: 60px; 
  height: 60px; 
  cursor: pointer; 

}
.thumbnail-img:hover{
  opacity: 0.6;
}
#decreaseQty, #increaseQty{
    border: 1px solid rgba(29, 27, 27, 0.033);
    font-size: 20px;
}
#decreaseQty:hover,#increaseQty:hover{
  color:rgba(233, 107, 39, 0.755);
  background-color: white;
  font-weight: 900;
  font-size: larger;
}
.thumbnail-img.active {
  border: 2px solid rgba(233, 107, 39, 0.755); 
  opacity: 0.6;
}
.zoom-modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}
.zoomed-img-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoomed-img {
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px; 
}

.prev, .next {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1001; 
}

.prev {
  left: -30px;
}

.next {
  right: -30px;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 410px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width:768px){
  .close-modal{
    top: 10px;
    right: 30px;
  }
}
.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.slidebuttons{
  border-radius: 50%;
  background-color: white;
  width: 50px;
  height: 50px;

}
.thumbnail-img {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.thumbnail-img:hover {
  border: 2px solid rgb(244, 119, 10);

}